@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/radii.css";
@import "./tokens/shadows.css";
@import "./tokens/animations.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
  [data-slot="button"] {
    border-radius: 12px;
    @supports (corner-shape: squircle) {
      border-radius: 70px;

      corner-shape: squircle;
    }
  }
}
